.first {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.left {
  margin-left: 75px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.desTitle {
  margin-bottom: 35px;
}

.right {
  margin-right: 80px;
}

img {
  width: 450px;
  border-radius: 25px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
